<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/estilos/Consulta.css}">
    <title>Consulta cuenta</title>
</head>
<body>
<div class="cabeza">
    <nav class="navbar">
        <ul>
            <li><a th:href="@{ConsultaFisicos}" class="nav-button">CONSULTA</a></li>
            <li><a th:href="@{RegistroFisicas}" class="nav-button">REGISTRA</a></li>
            <li><a th:href="@{/}" class="nav-button">LOGIN</a></li>
        </ul>
    </nav>
    <div class="img">
        <img th:src="@{/img/logo.png}" class="logo" alt="Logo">
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="form-container">
    <div class="formulario">
        <form>
            <fieldset>
                <legend>CONSULTA CUENTA PERSONA FISICA</legend>
                <br>
                <br>
                <input type="text" id="primer_nombre" name="primer_nombre" placeholder="Primer Nombre" required>
                <input type="text" id="rfc" name="rfc" placeholder="RFC" required>
                <input id="sexo" name="sexo" required>
                <br>
                <br>
                <br>
                <center><button type="submit">Buscar</button></center>
            </fieldset>
        </form>
        <br>
        <table>
            <thead>
            <tr>
                <th>No.Usuario</th>
                <th>Nombre Completo</th>
                <th>RFC</th>
                <th>Regimen</th>
                <th>Situacion Bancaria</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            </tbody>
        </table>
        <br>
        <a th:href="@{/Detalles}" class="Detalles">Mas Detalles</a>
    </div>
</div>
<div class="footer">
    <footer>
        <center><p>:: 2024 :: DESPACHO ::</p></center>
    </footer>
</div>
</body>
</html>