<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalles</title>
    <style>
        .Eliminar{
       display: inline-block;
     width: 20%;
     padding: 10px;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     background-color: #e41a02;
     text-decoration: none;
     text-align: center;
}
    </style>
    <link rel="stylesheet" th:href="@{/estilos/DetallesFisica.css}">
</head>
<body>
<div class="cabeza">
    <nav class="navbar">
        <ul>
            <li><a th:href="@{ConsultaFisicos}" class="nav-button">CONSULTA</a></li>
            <li><a th:href="@{RegistroFisicas}" class="nav-button">REGISTRA</a></li>
            <li><a th:href="@{/}" class="nav-button">LOGIN</a></li>
        </ul>
    </nav>
</div>
<div class="form-container">
    <div class="formulario">
        <h2>Detalles</h2>
        <form method="get">
            <fieldset>
                <legend>Información del Cliente</legend>

                <input type="text" name="primerNombre" th:value="${cliente.primerNombre}"  placeholder="Primer Nombre" readonly="readonly" >

                <input type="text" th:value="${cliente.segundoNombre}" name="segundoNombre" placeholder="Segundo Nombre" readonly="readonly">

                <input type="text" th:value="${cliente.tercerNombre}" name="tercerNombre" placeholder="Tercer Nombre" readonly="readonly">

                <input type="text" th:value="${cliente.apellidoPaterno}" name="apellidoPaterno" placeholder="Apellido Paterno" readonly="readonly">

                <input type="text" th:value="${cliente.apellidoMaterno}" name="apellidoMaterno" placeholder="Apellido Materno" readonly="readonly">
                <input type="text" th:value="${cliente.colonia}" placeholder="colonia" readonly="readonly">
                <input type="text" th:value="${cliente.calle}" placeholder="calle" readonly="readonly">
                <input type="text" th:value="${cliente.numeroCasa}" placeholder="Numero De Casa" readonly="readonly">

                <input type="text" th:value="${cliente.RFC}" placeholder="RFC" readonly="readonly">


                <input type="text" th:value="${cliente.Ciudad}" placeholder="Ciudad" readonly="readonly">

                <input type="text" th:value="${cliente.Estado}" placeholder="Estado" readonly="readonly">

                <input type="text" th:value="${cliente.pais}" name="pais" placeholder="País" readonly="readonly">

                <input type="text" th:value="${cliente.sexo}" name="sexo" placeholder="sexo" readonly="readonly">

                <input type="number" th:value="${cliente.edad}" name="edad" placeholder="Edad" readonly="readonly">

                <input type="tel" th:value="${cliente.telefono1}" name="telefono1" placeholder="Teléfono 1" readonly="readonly">

                <input type="tel" th:value="${cliente.telefono2}" name="telefono2" placeholder="Teléfono 2" readonly="readonly">

                <input type="text" th:value="${cliente.CURP}" name="CURP" placeholder="CURP" readonly="readonly">

                <input type="text" th:value="${cliente.actividadEconomica}" name="actividadEconomica" placeholder="Actividad Económica" readonly="readonly">

                <input type="number" th:value="${cliente.ingresosMensuales}" name="ingresosMensuales" placeholder="Ingresos Mensuales" readonly="readonly">

                <input type="text" th:value="${cliente.estatusPadron}" name="estatusPadron" placeholder="Estatus en el Padrón" readonly="readonly">

                <input type="text" th:value="${cliente.nombreComercial}" name="nombreComercial" placeholder="Nombre Comercial" readonly="readonly">
                <input type="text" th:value="${cliente.estatusaVigencia}" name="estatusaVigencia" placeholder="Estatus de actividad" readonly="readonly">
            </fieldset>
            <br>
            <a th:href="@{/eliminarCliente/{idCliente}(idCliente=${cliente.idCliente})}" onclick="return confirm('¿Estás seguro de que deseas eliminar este cliente?');" class="Eliminar">Eliminar</a>


            <a th:href="@{/Detalles/descargarExcel(idCliente=${cliente.idCliente})}" class="Descarga">Descargar Información</a>
        </form>
        </form>
    </div>
</div>
<div class="footer">
    <footer>
        <center><p>:: 2024 :: DESPACHO ::</p></center>
    </footer>
</div>
</body>
</html>

