<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/estilos/RegristosFisico.css">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="../static/ConsultaFisicos.html" class="nav-button">CONSULTA</a></li>
        <li><a href="index.html" class="nav-button">DESCARGA</a></li>
        <li><a href="RegristroFisicas.html" class="nav-button">REGISTRA</a></li>
        <li><a href="index.html" class="nav-button">LOGIN</a></li>
    </ul>
</nav>
</body>
</html>