<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilos/RegristosFisico.css">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><button onclick="location.href='index.html'" class="nav-button">CONSULTA</button></li>
        <li><button onclick="location.href='index.html'" class="nav-button">DESCARGA</button></li>
        <li><button onclick="location.href='index.html'" class="nav-button">LOGIN</button></li>
    </ul>
</nav>
</body>
</html>